{% extends "base.html" %}

{% block content %}


<div class="col">
    <ul class="list-group">
        <li class="list-group-item active">
            <form name="search_form" id="search_form" method="get" class="d-flex">
                <input type="search" class="form-control me-2" name="search_line" id="search_line" value="{{ search_line }}">
                <input type="submit" class="btn btn-success" name="search_submit" id="search_submit" value="Искать">
            </form>
        </li>
        <li class="list-group-item list-group-item-warning">
            <form method="post" class="d-flex">
                {{ add_category_form.hidden_tag() }}
                {{ add_category_form.title(class="form-control me-2") }}
                {{ add_category_form.submit(type="submit", class="btn btn-primary") }}
            </form>
        </li>
        {% if message %}
            <div class="alert-danger">{{ message }}</div>
        {% endif %}
        {% for category, category_form in edit_categories.values() %}
            <br>
            <li class="list-group-item">
                <form method="post">
                    {{ category_form.hidden_tag() }}
                    <a class="btn btn-info">{{ category.title }}</a>
                    {{ category_form.id(type="hidden") }}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm{{ category.id }}">Удалить</button>
                    <div class="modal fade" id="confirm{{ category.id }}" tabindex="-1" aria-labelledby="confirm"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                {{ category_form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
<br>
{% include "pagination.html" %}
{% endblock %}