{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item active">
                <form name="search_form" id="search_form" method="get" class="d-flex">
                    <input type="search" class="form-control me-2" name="search_line" id="search_line" value="{{ search_line }}">
                    <input type="submit" class="btn btn-success" name="search_submit" id="search_submit" value="Искать">
                </form>
            </li>
        </ul>
        <br>
        {% for user, user_form in users.values() %}
            <div class="card">
                <form method="post" action="">
                    {{ user_form.hidden_tag() }}
                    <div class="card-header">
                        <img src="{{ url_for('static', filename=user.picture_path) }}" style="border-radius: 50%" width="40" height="40" id="ava">
                        <label for="ava" style="font-size:150%">{{ user.name }}</label>
                    </div>
                    <div class="card-body">
                            {{ user_form.id(type="hidden") }}
                            {% if user.is_admin %}
                                <input name="is_admin" type="checkbox" checked > админ
                            {% else %}
                                <input name="is_admin" type="checkbox"> админ
                            {% endif %}

                            {% if user.is_banned %}
                                <input name="is_banned" type="checkbox" checked> забанен
                            {% else %}
                                <input name="is_banned" type="checkbox"> забанен
                            {% endif %}
                            {{ user_form.submit(type="submit", class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        <br>
        {% endfor %}
    </div>
    <br>
    {% include "pagination.html" %}
</div>
{% endblock %}