{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-2">
        <div class="list-group">
            {% for category in categories %}
                {% if select_category and category.id == select_category.id %}
                    <a class="list-group-item list-group-item-action active" href="/{{ category.id }}">
                {% else %}
                    <a class="list-group-item list-group-item-action" href="/{{ category.id }}">
                {% endif %}
                    {{ category.title }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <ul>
            {% for anecdote, like_form, dislike_form in anecdotes.values() %}
                <!-- блок анекдота -->
                <div class="card" id="{{ anecdote.id }}">
                    <div class="card-header">
                        <img src="{{ url_for('static', filename=anecdote.user.picture_path) }}" style="border-radius: 50%" width="40" height="40" id="ava">
                        <label for="ava" style="font-size:150%">{{ anecdote.user.name }}</label>
                        <big style="float: right;">Рейтинг: {{ anecdote.rating }}</big>
                    </div>
                    <div class="card-body">
                        <h3>{{ anecdote.name }}</h3>
                        <p>{{ anecdote.text|safe }}</p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <form method="post">
                                    {{ like_form.hidden_tag() }}
                                    {{ like_form.anecdote_id(type='hidden') }}
                                    {{ like_form.value(type='hidden') }}
                                    <button type="submit" name="submit" class="btn btn-info">
                                            <img src="{{ url_for('static', filename='img/like.png') }}" width="20" height="20">
                                        </button>
                                    <div class="field"></div>
                                </form>
                            </div>
                            <div class="col-2">
                                <form method="post">
                                    {{ dislike_form.hidden_tag() }}
                                    {{ dislike_form.anecdote_id(type='hidden') }}
                                    {{ dislike_form.value(type='hidden') }}
                                    <button type="submit" name="submit" class="btn btn-danger">
                                            <img src="{{ url_for('static', filename='img/dislike.png') }}" width="20" height="20">
                                        </button>
                                    <div class="field"></div>
                                </form>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-primary" href="/anecdote/{{ anecdote.id }}">Комментарии</a>
                            </div>
                            <div class="col-xl"></div>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for button in pagination %}
                    {% if button != '...' and button not in ['Next', 'Previous'] %}
                        {% if page == button|int %}
                            <form method="get" id="pagination" name="pagination">
                                <li class="page-item active"><button type="submit" class="page-link" id="page_submit" name="page_submit">{{ button }}</button></li>
                                <input type="hidden" value="{{ button }}" id="page" name="page">
                            </form>
                        {% else %}
                            <form method="get" id="pagination" name="pagination">
                                <li class="page-item"><button type="submit" class="page-link" id="page_submit" name="page_submit">{{ button }}</button></li>
                                <input type="hidden" value="{{ button }}" id="page" name="page">
                            </form>
                        {% endif %}
                    {% elif button == '...' %}
                        <li class="page-item disabled"><a type="submit" class="page-link">{{ button }}</a></li>
                    {% elif button == 'Next' %}
                        {% if page == pages_count %}
                            <li class="page-item disabled"><a type="submit" class="page-link">{{ button }}</a></li>
                        {% else %}
                            <form method="get" id="pagination" name="pagination">
                                <li class="page-item"><button type="submit" class="page-link" id="page_submit" name="page_submit">{{ button }}</button></li>
                                <input type="hidden" value="{{ page + 1 }}" id="page" name="page">
                            </form>
                        {% endif %}
                    {% elif button == 'Previous' %}
                        {% if page == 1 %}
                            <li class="page-item disabled"><a type="submit" class="page-link">{{ button }}</a></li>
                        {% else %}
                            <form method="get" id="pagination" name="pagination">
                                <li class="page-item"><button type="submit" class="page-link" id="page_submit" name="page_submit">{{ button }}</button></li>
                                <input type="hidden" value="{{ page - 1 }}" id="page" name="page">
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}