{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <ul>
            {% for anecdote in anecdotes %}
                <!-- блок анекдота -->
                <li>
                    <div class="joke">
                        <img src="{{ anecdote.user.picture_path }}" style="border-radius: 50%" width="40" height="40" id="ava">
                        <label for="ava" style="font-size:150%">{{ anecdote.user.name }}</label>
                        <p>{{ anecdote.text }}</p>
                    </div>

                </li>
                <br>
            {% endfor %}
        </ul>
    </div>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for button in pagination %}
                    {% if button != '...' and button not in ['Next', 'Previous'] %}
                        {% if page == button|int %}
                           <li class="page-item active"><a class="page-link" href="/{{ button }}">{{ button }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/{{ button }}">{{ button }}</a></li>
                        {% endif %}
                    {% elif button == '...' %}
                        <li class="page-item disabled"><a class="page-link">{{ button }}</a></li>
                    {% elif button == 'Next' %}
                        {% if page == pages_count %}
                            <li class="page-item disabled"><a class="page-link">{{ button }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/{{ page + 1 }}">{{ button }}</a></li>
                        {% endif %}
                    {% elif button == 'Previous' %}
                        {% if page == 1 %}
                            <li class="page-item disabled"><a class="page-link">{{ button }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/{{ page - 1 }}">{{ button }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}