{% extends "main_shablon.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <ul>
            <li>
                <!-- блок анекдота -->
                <div class="card">
                    <div class="card-header">
                        <img src="{{ avatar }}" style="border-radius: 50%" width="40" height="40" id="ava">
                        <label for="ava" style="font-size:150%">Лёха</label>
                    </div>
                    <div class="card-body">
                        <h3>Про мусор</h3>
                        <p>После того как омоновцев стали называть космонавтами словосочетание космический мусор для
                            меня заиграло новыми красками.</p>
                        <!-- лайки и дизлайки -->
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <form method="post" id="form" action="">
                                        <input type="hidden" name="appraisal" value="1">
                                        <button type="submit" class="btn btn-success">
                                            принять
                                        </button>
                                        <div class="field"></div>
                                    </form>
                                </div>

                                <div class="col-2">
                                    <form method="post" id="form" action="">
                                        <input type="hidden" name="appraisal" value="0">
                                        <button type="submit" class="btn btn-danger">
                                            отказать
                                        </button>
                                        <div class="field"></div>
                                    </form>
                                </div>
                                <div class="col-xl"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col col-lg-2"></div>
</div>
{% endblock %}