{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item active">
                    <form name="search_form" id="search_form" method="get" class="d-flex">
                        <input type="search" class="form-control me-2" name="search_line" id="search_line" value="{{ search_line }}">
                        <input type="submit" class="btn btn-success" name="search_submit" id="search_submit" value="Искать">
                    </form>
                </li>
            </ul>
            {% for anecdote, like_form, dislike_form in anecdotes.values() %}
                <br>
                <!-- блок анекдота -->
                <div class="card" id="{{ anecdote.id }}">
                    <div class="card-header">
                        <img src="{{ url_for('static', filename=anecdote.user.picture_path) }}" style="border-radius: 50%" width="40" height="40" id="ava">
                        <label for="ava" style="font-size:150%">{{ anecdote.user.name }}</label>
                        <big style="float: right;">Рейтинг: {{ anecdote.rating }}</big>
                    </div>
                    <div class="card-body">
                        {% if anecdote.is_published == 0 %}
                            <big style="float: right;">Анекдот на модерации</big>
                        {% elif anecdote.is_published == 1 %}
                            <big style="float: right;">Анекдот прошёл модерацию</big>
                        {% elif anecdote.is_published == 2 %}
                            <big style="float: right;">Анекдот не прошёл модерацию</big>
                        {% endif %}
                        <h3>{{ anecdote.name }}</h3>
                        <p>{{ anecdote.text|safe }}</p>
                        <div class="container">
                            <div class="col-3">
                                <div class="btn-group" role="group">
                                    {% include "likes.html" %}
                                    <div>
                                        <a type="button" class="btn btn-primary" href="/anecdote/edit/{{ anecdote.id }}">
                                            Редактровать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    {% include "pagination.html" %}
</div>
{% endblock %}